# The MariaDB server (master)
[mysqld]
innodb_file_format = Barracuda
innodb_file_per_table = ON
sql_mode = NO_ENGINE_SUBSTITUTION
expire_logs_days = 7
#log-error = /var/log/mysql/mysqld.log
log-bin = mysql-bin
binlog_format = mixed
server-id = 1
skip-host-cache
skip-name-resolve
